
.SignUp {
    width: auto;
}

.yourName {
    background: red;
}

.signup input {
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
}

.btn {
    display: inline-block;
    background-color: #f36f5a;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 1rem;
    font-family: 'Chango', cursive;
    text-transform: uppercase;
    transition: transform .2s, box-shadow .2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.btn-secondary:hover {
    background-color: #f36f5a;
}