.MainMenu ul {
    padding: 0;
    margin: 0;
  }
  
  .MainMenu h2 {
    padding: 5px 20px;
  }
  
  .MainMenu li {
    font-family: Arial, sans-serif;
    list-style: none outside none;
  }
  
  .MainMenu li a {
    display: block;
    padding: 5px 20px;
    line-height: 1.4;
    text-decoration: none;
    color: black;
  }
  
  .MainMenu a:hover {
    background: #ddd;
  }
  
  .MainMenu a.active {
    background: black;
    color: white;
  }