
.Homepage {
    display: flex;
    flex-direction: column;
    background-image: url(../images/dog.jpg);
    background-position: center;
     background-size: cover;
     height: 100vh;
}
.logo img {
    width: 40px;
    margin-left: 30px;
}
.logo h4 {
    margin-left: 20px;
}

