.IndividualProfileText p {
    font-weight: bold;
  }
  .IndividualProfileText span {
      font-weight: normal;
  }
  .cardText {
      padding-top: 30px;
      line-height: 30px;
  }
  .IndividualProfileText div {
      display: flex;
      justify-content: space-between;
  }
  .svg-inline--fa {
      margin-right: 10px;
  }
  .petListUserProfile {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }
  .petListUserProfile ul li{
     font-size: 15px;
  }
  .petListUserProfile img {
      max-width: 50%;
      line-height: 0px;
  }
 .petListUserProfileContainer {
 width: 80vw;
 margin: 0 auto;
 }