
.Chat {

/* background-image: url(../images/puppy.png); */
background-size: 50vh, cover;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
background-position-y: 80%;
}  

a {
    color: black;
    text-decoration: none;
    background-color: transparent; 
}

.Chat h1 {
    background-color: #e2b42c;
    border-radius: 8px 8px 0 0;
    transition: background-color .4s;
}