 
   

.Chat {

background-image: url(../images/puppy.png);
 background-size: cover;
 height: 100vh;
}  





 .form input {
    display: flex;
    

    
}

.logo img {
    width: 100px;
    margin-left: 30px;
}
