.card-body {
    display: flex;
    flex-direction: column;
    /* background-color: #f78d4c; */
    text-align: left;
}
.card-title {
    font-weight: bold;
}
.iconsContainer div {
padding-left: 10px;
}
.svg-inline--fa {
    margin-right: 6px;
}
