.card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card-title {
    font-weight: bold;
}
.iconsContainer div {
padding-left: 10px;
}
.svg-inline--fa {
    margin-right: 6px;
}
#root > div > div {
    padding: 0;
}
/* .nav-tabs .nav-link.active {
background-color: #f5ce6f;
} */