
    .Nav-login-logo {
      width: 50px;
  }
  .Nav-span{
  font-size: 35px;
  text-align: center;
  }
  .logo {
    cursor: pointer;
  }
  .navbar-light .navbar-nav .nav-link {
    cursor: pointer;
  }
