
    .Nav-login-logo {
      width: 50px;
  }
  .Nav-span{
  font-size: 35px;
  text-align: center;
  }
  .logo {
    cursor: pointer;
  }
  .navbar-light .navbar-nav .nav-link {
    cursor: pointer;
  }
  .bg-light {
    /* background-color: #f5ce6f!important; */
  }
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
color: #f36f5a;
}
.navbar {
  border-bottom: 1px solid black;
  box-shadow: 2px 0px 4px grey;
}